$background-color: white;
$base-color: #3ca9cb;
$secondary-color: #add6c4;
$text-color: darken($background-color, 50%);

// --------------- elements ---------------

html {
  font-size: calc(12px + 0.5vw);
}

body {
  background-color: $background-color;
  color: $text-color;
  width: 100%;
}

section {
  margin-bottom: 3rem;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 1rem;
  color: $base-color;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
  color: $secondary-color;
}

h3 {
  font-size: 2rem;
}

ul {
  display: flex;
  justify-content: center;
  padding: 0.5rem;

  li {
    list-style: none;
    display: inline;
    padding: 0 0.5rem 0 0.5rem;
  }
}

a {
  color: $base-color;
  &:hover {
    color: lighten($base-color, 15%);
  }

  img {
    &:hover {
      opacity: .75;
    }
  }
}

p {
  padding-bottom: 0.5rem;
}

footer {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
  color: darken($background-color, 25%);
}

// --------------- classes ---------------

.project-image {
  margin-bottom: 1rem;
}

// --------------- ids ---------------

#home {
  p {
    max-width: 20rem;
  }
}

#main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 2rem 0.5rem 2rem;
}

#headshot {
  float: right;
  height: 10rem;
  border-radius: 1rem;
  margin: 0 1rem;
}

#projects-container {
  display: flex;
  flex-wrap: wrap;
  div {
    width: 250px;
  }
}

#contact {
  margin-bottom: 0.5rem;
}
