html {
    font-size: calc(18px + 0.5vw);
}
body {
    color: #226478;
    margin: 4rem 1rem 1rem 8rem;
}
h1 {
    font-size: 3rem;
    margin: 0.5rem 0 1rem 0;
    padding: 0;
}
#socials {
    color: #226478;
    background: #eee;
    border-radius: 0.3rem;
    margin: 1rem 0 0 0;
    max-width: 13rem;
    padding: 0.8rem;
}
a:link, a:visited {
    color: #226478;
    margin-left: 2.1rem;
}
a:hover {
    color: #3b92ab;
}

/* TODO delete class?*/
/*.project-image {*/
/*    width: 200px;*/
/*}*/

nav {
    padding: 0 0 1rem 0;
}


section {
    padding: 0 0 1.5rem 0;
}


.crop {
    width: 8rem;
    height: 8rem;
    overflow: hidden;
}

.crop img {
    width: 8rem;
}

#project3 .crop img {
    width: 8rem;
    margin: -4rem 0 0 0;
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin: 0 0 1rem 0;
    padding: 0 0 1rem 0;

}