$background-color: white;
$base-color: #3ca9cb;
$secondary-color: #add6c4;
$text-color: darken($background-color, 50%);


html {
  font-size: calc(12px + 0.5vw);
}

body {
  background-color: $background-color;
  color: $text-color;
  padding: 2rem 2rem 0.5rem 2rem;
}

//nav {
//  position: fixed;
//  top: 0;
//  left: 0;
//  width: 100%;
//  display: flex;
//  justify-content: center;
//  background-color: beige;
//}

section {
  margin-bottom: 3rem;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 1rem;
  color: $base-color;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
  color: $secondary-color;
}

h3 {
  font-size: 2rem;
}

//h4 {
//  font-size: 1rem;
//}




ul {
  display: flex;
  justify-content: center;
  padding: 0.5rem;

  li {
    list-style: none;
    display: inline;
    padding: 0 0.5rem 0 0.5rem;
  }
}

a {
  color: $base-color;
  &:hover {
    color: lighten($base-color, 15%);
  }
}

p {
  padding-bottom: 0.5rem;
}

footer {
  // TODO: Media query for style change
  //position: absolute;
  //width: 100%;
  //bottom: 0;

  display: flex;
  justify-content: center;

  padding-bottom: 0.5rem;
  color: darken($background-color, 25%);
}

.project-image {
  margin-bottom: 1rem;
}

//#home {
//  margin-top: 1.5rem;
//}

#headshot {
  float: right;
  height: 10rem;
  padding-left: 0.5rem;
}

#projects-container {
  display: flex;
  flex-wrap: wrap;
  div {
    width: 250px;
  }
}

#contact {
  margin-bottom: 0.5rem;
}

